version: '2'
services:
  dovecot:
      build: ./dovecot
      container_name: dovecot
      image: tgiesela/dovecot:v0.3
      hostname: dovecot
      domainname: mail.local
      restart: always
      networks:
         - mailnet
      ports:
         - 143:143     # imap
         - 993:993     # imap-secure
         - 110:110     # pop3
         - 995:995     # pop3-secure
      expose:
         - "24"        # lmtp
         - 12345:12345 # sasl
      environment:
         - TZ=Europe/Amsterdam
         - DOMAIN=mail.local
         - DOCKERNETMASK=171.18.0.0
         - DOCKERNETMASKLEN=24
         - NETMASK=10.56.57.0
         - NETMASKLEN=24
         - HOSTNAME=maildc 
         - CERTIFICATESUBJECT=/C=<Country>/ST=<state>/L=<City>/O=<name>/CN=<canonical name
      volumes:
        - /mnt/mail/:/var/mail/
        - /docker/data/certificates/:/certificates/

   fetchmail:
      build: ./fetchmail
      container_name: fetchmail
      image: tgiesela/fetchmail:v0.3
      hostname: fetchmail
      domainname: mail.local
      restart: always
      networks:
         - mailnet
      environment:
         - TZ=Europe/Amsterdam

networks:
    mailnet:
         name: mailnet
         driver: bridge
         enable_ipv6: false
         ipam:
            driver: default
            config:
               - subnet: 171.18.0.0/16
                 gateway: 171.18.0.1

#volumes:
#    maildata:/mnt/media

#volumes:
#  maildata:/dockerdata/mail
#    driver: local
